Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Flask-Mail
Flask-Bcrypt
Flask-Login
Flask-Blueprint
python-dotenv
SQLAlchemy
azure-storage-blob
azure-identity
pytz
Pillow
itsdangerous
WTForms
email-validator
Flask-Limiter
psycopg2-binary
gunicorn
boto3
