Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Flask-Mail
Flask-Bcrypt
Flask-Login
Flask-Blueprint
psycopg2
python-dotenv
SQLAlchemy
azure-storage-blob
azure-identity
pytz
Pillow
itsdangerous
WTForms
email-validator